* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --ff-primary: 'Poppins', sans-serif;
  --text-color: #faf6f6;
  --table-border : #4A808C;
  --table-color: #092D38;
  --table-row-color: #06161B;
  --button-color: #065E7C;
}

body {
  font-size: 1.6rem;
  color: var(--text-color);
  background-color: rgb(0, 0, 0);
}

body * {
  font-family: var(--ff-primary);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

#app {
  padding: 2rem;
  max-width: 700px;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2.5rem 0;
}

header h1 {
  font-size: 2rem;
  text-transform: uppercase;
}

.search {
  display: flex;
  align-items: center;
}

.search input {
  height: 3.2rem;
  border: 1px solid #ccc;
  border-radius: .4rem 0 0 .4rem;
  padding: 0 .8rem;
  width: 32rem;
  background-color: var(--table-color);
  color: white;
}

.search button {
  background-color: var(--button-color);
  color: white;
  border: 0 .4rem 0.4rem 0;
  height: 3.2rem;
  border: none;
  padding: 0 1rem;

  cursor: pointer;
}

.search button:hover {
  filter: brightness(1.1);
}

table {
  width: 100%;
  border-collapse: collapse;

  box-shadow: 0 1rem 2rem -1rem rgba(0, 0, 0, 0.3);
}

table * {
  font-size: 1.4rem;
  color: var(--text-color);
}

table th {
  background: var(--primary-color);
  font-weight: nbold;
  padding: 1.5rem;
  background-color: var(--table-color);
}

table th:first-child {
  border-top-left-radius: .4rem;
}

table th:last-child {
  border-top-right-radius: .4rem;
}

table tr:nth-child(odd) {
  background: var(--table-row-color);
}

table tr {
  background: #eee;
  border: .05rem solid var(--table-border);
}

table tr:nth-child(even) {
  background: var(--table-color);
}

table td {
  text-align: center;
}

td.user {
  height: 7rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

td.user img {
  width: 5rem;
  height: 5rem;

  object-fit: cover;
  border-radius: 50%;
}

td.user a {
  text-decoration: none;
}

td.user a p {
  font-weight: bold;
}

td .remove {
  background: none;
  border: none;
  align-items: center;

  color: red;
  cursor: pointer;
}